---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #eb4a4b;
    background-image: linear-gradient(120deg, #eb4a4b, #af4141);
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

.site-footer {
    text-align: center;
}
